<?xml version="1.0"?>
<robot name="block_2">
  <link name="block_2_base_link">
    <contact>
      <lateral_friction value="1.0"/>
      <spinning_friction value=".001"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!--
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.075 0.025 0.025"/>
      </geometry>
      <material name="blockmat">
        <color rgba="0.2 0.6 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0762 0.0254 0.0254"/>
      </geometry>
    </collision> -->
    <!-- <collision>
      <origin rpy="0 1.57079632679 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.075" radius=".0125"/>
      </geometry>
    </collision> -->
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.075 0.010355339 0.025"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.075 0.025 0.010355339"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.785398163 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.075 0.025 0.010355339"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.785398163 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.075 0.025 0.010355339"/>
      </geometry>
    </collision>
  </link>
</robot>
